extends baseEmail

block content
  p Hi #{firstName},
  p Your forgot your password? please click on the link to reset :  #{url}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody   
              tr
                td
                  a(href=`${url}`, target='_blank') Upload user photo
  p if you did not forgot your password ignore this email